body {
  margin: 0;
  background-color: #666;

}

main {
  background-color: red;
width: 100vw;
height: 100vh;
}

.sidebar {
  background-color: #333;
  width: 280px;
  height: 100vh;
}

.content {
  background-color: lightblue;
  width: 700px;
}

.top-advertisement {
  background-color: lightyellow;
  height: 110px;
  width: 100%;


}
